write_home_timeline_service_io_threads,{{ write_home_timeline_service_io_threads|default(10) }}
write_home_timeline_service_worker_threads,{{ write_home_timeline_service_worker_threads|default(23) }}
compose_post_service_io_threads,{{ compose_post_service_io_threads|default(10) }}
compose_post_service_worker_threads,{{ compose_post_service_worker_threads|default(331) }}
home_timeline_service_io_threads,{{ home_timeline_service_io_threads|default(10) }}
home_timeline_service_worker_threads,{{ home_timeline_service_worker_threads|default(331) }}
media_service_io_threads,{{ media_service_io_threads|default(10) }}
media_service_worker_threads,{{ media_service_worker_threads|default(331) }}
post_storage_service_io_threads,{{ post_storage_service_io_threads|default(10) }}
post_storage_service_worker_threads,{{ post_storage_service_worker_threads|default(331) }}
social_graph_service_io_threads,{{ social_graph_service_io_threads|default(10) }}
social_graph_service_worker_threads,{{ social_graph_service_worker_threads|default(331) }}
unique_id_service_io_threads,{{ unique_id_service_io_threads|default(10) }}
unique_id_service_worker_threads,{{ unique_id_service_worker_threads|default(331) }}
user_mention_service_io_threads,{{ user_mention_service_io_threads|default(10) }}
user_mention_service_worker_threads,{{ user_mention_service_worker_threads|default(331) }}
user_service_io_threads,{{ user_service_io_threads|default(10) }}
user_service_service_worker_threads,{{ user_service_worker_threads|default(331) }}
user_timeline_service_io_threads,{{ user_timeline_service_io_threads|default(47) }}
user_timeline_service_worker_threads,{{ user_timeline_service_worker_threads|default(727) }}
url_shorten_service_io_threads,{{ url_shorten_service_io_threads|default(24) }}
url_shorten_service_worker_threads,{{ url_shorten_service_worker_threads|default(723) }}
text_service_io_threads,{{ text_service_io_threads|default(44) }}
text_service_worker_threads,{{ text_service_worker_threads|default(109) }}