

storage:
   journal:
      enabled: true
      commitIntervalMs: {{ url_shorten_mongodb_journalCommitInterval|default(200) }}
   directoryPerDB: true
   syncPeriodSecs: {{ url_shorten_mongodb_syncPeriodSecs|default(60) }}
   engine: wiredTiger
   wiredTiger:
      engineConfig:
         cacheSizeGB: {{ url_shorten_mongodb_cacheSizeGB|default(2) }}
         journalCompressor: {{ url_shorten_mongodb_journalCompressor|default("snappy") }}
         directoryForIndexes: true
      collectionConfig:
         blockCompressor: {{ url_shorten_mongodb_blockCompressor|default("snappy") }}
      indexConfig:
         prefixCompression: true

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

net:
   port: 27017
   maxIncomingConnections: {{ url_shorten_mongodb_maxIncomingConnections|default(200) }}
   compression:
      compressors: {{ url_shorten_mongodb_netCompressors|default("snappy") }}
   serviceExecutor: {{ url_shorten_mongodb_serviceExecutor|default("synchronous") }}


setParameter:

   connPoolMaxConnsPerHost: {{ url_shorten_mongodb_connPoolMaxConnsPerHost|default(200) }}
   connPoolMaxInUseConnsPerHost: {{ url_shorten_mongodb_connPoolMaxInUseConnsPerHost|default(200) }}
   globalConnPoolIdleTimeoutMinutes: 10
   maxNumActiveUserIndexBuilds: {{ url_shorten_mongodb_maxNumActiveUserIndexBuilds|default(3) }}
   maxIndexBuildMemoryUsageMegabytes: {{ url_shorten_mongodb_maxIndexBuildMemoryUsageMegabytes|default(200) }}
   tcmallocReleaseRate: {{ url_shorten_mongodb_tcmallocReleaseRate|default(1.0) }}
   diagnosticDataCollectionPeriodMillis: {{ url_shorten_mongodb_diagnosticDataCollectionPeriodMillis|default(1000) }}
   maxSessions: {{ url_shorten_mongodb_maxSessions|default(1000000) }}
   TransactionRecordMinimumLifetimeMinutes: {{ url_shorten_mongodb_TransactionRecordMinimumLifetimeMinutes|default(5) }}
   enableFlowControl: true
   flowControlTargetLagSeconds: {{ url_shorten_mongodb_flowControlTargetLagSeconds|default(10) }}
   flowControlWarnThresholdSeconds: 10
   initialSyncTransientErrorRetryPeriodSeconds: 86400
   oplogFetcherUsesExhaust: true

   oplogInitialFindMaxSeconds: {{ url_shorten_mongodb_oplogInitialFindMaxSeconds|default(60) }}
   replWriterThreadCount: {{ url_shorten_mongodb_replWriterThreadCount|default(16) }}
   replWriterMinThreadCount: 0
   wiredTigerConcurrentReadTransactions: {{ url_shorten_mongodb_wiredTigerConcurrentReadTransactions|default(128) }}
   wiredTigerConcurrentWriteTransactions: {{ url_shorten_mongodb_wiredTigerConcurrentWriteTransactions|default(128) }}
   maxTransactionLockRequestTimeoutMillis: {{ url_shorten_mongodb_maxTransactionLockRequestTimeoutMillis|default(10) }}






