
storage:
   journal:
      enabled: true
      commitIntervalMs: {{ media_mongodb_journalCommitInterval|default(200) }}
   directoryPerDB: true
   syncPeriodSecs: {{ media_mongodb_syncPeriodSecs|default(60) }}

   engine: wiredTiger
   wiredTiger:
      engineConfig:
         cacheSizeGB: {{ media_mongodb_cacheSizeGB|default(2) }}
         journalCompressor: {{ media_mongodb_journalCompressor|default("snappy") }}
         directoryForIndexes: true
      collectionConfig:
         blockCompressor: {{ media_mongodb_blockCompressor|default("snappy") }}
      indexConfig:
         prefixCompression: true


processManagement:
  timeZoneInfo: /usr/share/zoneinfo

net:
   port: 27017

   maxIncomingConnections: {{ media_mongodb_maxIncomingConnections|default(200) }}
   compression:
      compressors: {{ media_mongodb_netCompressors|default("snappy") }}
   serviceExecutor: {{ media_mongodb_serviceExecutor|default("synchronous") }}


setParameter:


   connPoolMaxConnsPerHost: {{ media_mongodb_connPoolMaxConnsPerHost|default(200) }}
   connPoolMaxInUseConnsPerHost: {{ media_mongodb_connPoolMaxInUseConnsPerHost|default(200) }}
   globalConnPoolIdleTimeoutMinutes: 10
   maxNumActiveUserIndexBuilds: {{ media_mongodb_maxNumActiveUserIndexBuilds|default(3) }}
   maxIndexBuildMemoryUsageMegabytes: {{ media_mongodb_maxIndexBuildMemoryUsageMegabytes|default(200) }}
   tcmallocReleaseRate: {{ media_mongodb_tcmallocReleaseRate|default(1.0) }}
   diagnosticDataCollectionPeriodMillis: {{ media_mongodb_diagnosticDataCollectionPeriodMillis|default(1000) }}
   maxSessions: {{ media_mongodb_maxSessions|default(1000000) }}
   TransactionRecordMinimumLifetimeMinutes: {{ media_mongodb_TransactionRecordMinimumLifetimeMinutes|default(5) }}
   enableFlowControl: true
   flowControlTargetLagSeconds: {{ media_mongodb_flowControlTargetLagSeconds|default(10) }}
   flowControlWarnThresholdSeconds: 10
   initialSyncTransientErrorRetryPeriodSeconds: 86400
   oplogFetcherUsesExhaust: true

   oplogInitialFindMaxSeconds: {{ media_mongodb_oplogInitialFindMaxSeconds|default(60) }}
   replWriterThreadCount: {{ media_mongodb_replWriterThreadCount|default(16) }}
   replWriterMinThreadCount: 0
   wiredTigerConcurrentReadTransactions: {{ media_mongodb_wiredTigerConcurrentReadTransactions|default(128) }}
   wiredTigerConcurrentWriteTransactions: {{ media_mongodb_wiredTigerConcurrentWriteTransactions|default(128) }}
   maxTransactionLockRequestTimeoutMillis: {{ media_mongodb_maxTransactionLockRequestTimeoutMillis|default(10) }}






