
storage:
   journal:
      enabled: true

      commitIntervalMs: {{ post_storage_mongodb_journalCommitInterval|default(200) }}
   directoryPerDB: true
   syncPeriodSecs: {{ post_storage_mongodb_syncPeriodSecs|default(60) }}
   engine: wiredTiger
   wiredTiger:
      engineConfig:
         cacheSizeGB: {{ post_storage_mongodb_cacheSizeGB|default(2) }}
         journalCompressor: {{ post_storage_mongodb_journalCompressor|default("snappy") }}
         directoryForIndexes: true
      collectionConfig:
         blockCompressor: {{ post_storage_mongodb_blockCompressor|default("snappy") }}
      indexConfig:
         prefixCompression: true

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

net:
   port: 27017
   maxIncomingConnections: {{ post_storage_mongodb_maxIncomingConnections|default(200) }}
   compression:
      compressors: {{ post_storage_mongodb_netCompressors|default("snappy") }}
   serviceExecutor: {{ post_storage_mongodb_serviceExecutor|default("synchronous") }}


setParameter:

   connPoolMaxConnsPerHost: {{ post_storage_mongodb_connPoolMaxConnsPerHost|default(200) }}
   connPoolMaxInUseConnsPerHost: {{ post_storage_mongodb_connPoolMaxInUseConnsPerHost|default(200) }}
   globalConnPoolIdleTimeoutMinutes: 10
   maxNumActiveUserIndexBuilds: {{ post_storage_mongodb_maxNumActiveUserIndexBuilds|default(3) }}
   maxIndexBuildMemoryUsageMegabytes: {{ post_storage_mongodb_maxIndexBuildMemoryUsageMegabytes|default(200) }}
   tcmallocReleaseRate: {{ post_storage_mongodb_tcmallocReleaseRate|default(1.0) }}
   diagnosticDataCollectionPeriodMillis: {{ post_storage_mongodb_diagnosticDataCollectionPeriodMillis|default(1000) }}
   maxSessions: {{ post_storage_mongodb_maxSessions|default(1000000) }}
   TransactionRecordMinimumLifetimeMinutes: {{ post_storage_mongodb_TransactionRecordMinimumLifetimeMinutes|default(5) }}
   enableFlowControl: true
   flowControlTargetLagSeconds: {{ post_storage_mongodb_flowControlTargetLagSeconds|default(10) }}
   flowControlWarnThresholdSeconds: 10
   initialSyncTransientErrorRetryPeriodSeconds: 86400
   oplogFetcherUsesExhaust: true

   oplogInitialFindMaxSeconds: {{ post_storage_mongodb_oplogInitialFindMaxSeconds|default(60) }}
   replWriterThreadCount: {{ post_storage_mongodb_replWriterThreadCount|default(16) }}
   replWriterMinThreadCount: 0
   wiredTigerConcurrentReadTransactions: {{ post_storage_mongodb_wiredTigerConcurrentReadTransactions|default(128) }}
   wiredTigerConcurrentWriteTransactions: {{ post_storage_mongodb_wiredTigerConcurrentWriteTransactions|default(128) }}
   maxTransactionLockRequestTimeoutMillis: {{ post_storage_mongodb_maxTransactionLockRequestTimeoutMillis|default(10) }}






