
storage:
   journal:
      enabled: true
      commitIntervalMs: {{ social_graph_mongodb_journalCommitInterval|default(200) }}
   directoryPerDB: true
   syncPeriodSecs: {{ social_graph_mongodb_syncPeriodSecs|default(60) }}
   engine: wiredTiger
   wiredTiger:
      engineConfig:
         cacheSizeGB: {{ social_graph_mongodb_cacheSizeGB|default(2) }}
         journalCompressor: {{ social_graph_mongodb_journalCompressor|default("snappy") }}
         directoryForIndexes: true
      collectionConfig:
         blockCompressor: {{ social_graph_mongodb_blockCompressor|default("snappy") }}
      indexConfig:
         prefixCompression: true

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

net:
   port: 27017
   maxIncomingConnections: {{ social_graph_mongodb_maxIncomingConnections|default(200) }}
   compression:
      compressors: {{ social_graph_mongodb_netCompressors|default("snappy") }}
   serviceExecutor: {{ social_graph_mongodb_serviceExecutor|default("synchronous") }}


setParameter:

   connPoolMaxConnsPerHost: {{ social_graph_mongodb_connPoolMaxConnsPerHost|default(200) }}
   connPoolMaxInUseConnsPerHost: {{ social_graph_mongodb_connPoolMaxInUseConnsPerHost|default(200) }}
   globalConnPoolIdleTimeoutMinutes: 10
   maxNumActiveUserIndexBuilds: {{ social_graph_mongodb_maxNumActiveUserIndexBuilds|default(3) }}
   maxIndexBuildMemoryUsageMegabytes: {{ social_graph_mongodb_maxIndexBuildMemoryUsageMegabytes|default(200) }}
   tcmallocReleaseRate: {{ social_graph_mongodb_tcmallocReleaseRate|default(1.0) }}
   diagnosticDataCollectionPeriodMillis: {{ social_graph_mongodb_diagnosticDataCollectionPeriodMillis|default(1000) }}
   maxSessions: {{ social_graph_mongodb_maxSessions|default(1000000) }}
   TransactionRecordMinimumLifetimeMinutes: {{ social_graph_mongodb_TransactionRecordMinimumLifetimeMinutes|default(5) }}
   enableFlowControl: true
   flowControlTargetLagSeconds: {{ social_graph_mongodb_flowControlTargetLagSeconds|default(10) }}
   flowControlWarnThresholdSeconds: 10
   initialSyncTransientErrorRetryPeriodSeconds: 86400
   oplogFetcherUsesExhaust: true

   oplogInitialFindMaxSeconds: {{ social_graph_mongodb_oplogInitialFindMaxSeconds|default(60) }}
   replWriterThreadCount: {{ social_graph_mongodb_replWriterThreadCount|default(16) }}
   replWriterMinThreadCount: 0
   wiredTigerConcurrentReadTransactions: {{ social_graph_mongodb_wiredTigerConcurrentReadTransactions|default(128) }}
   wiredTigerConcurrentWriteTransactions: {{ social_graph_mongodb_wiredTigerConcurrentWriteTransactions|default(128) }}

   maxTransactionLockRequestTimeoutMillis: {{ social_graph_mongodb_maxTransactionLockRequestTimeoutMillis|default(10) }}