
storage:
   journal:
      enabled: true
      commitIntervalMs: {{ user_mongodb_journalCommitInterval|default(200) }}
   directoryPerDB: true
   syncPeriodSecs: {{ user_mongodb_syncPeriodSecs|default(60) }}
   engine: wiredTiger
   wiredTiger:
      engineConfig:
         cacheSizeGB: {{ user_mongodb_cacheSizeGB|default(2) }}
         journalCompressor: {{ user_mongodb_journalCompressor|default("snappy") }}
         directoryForIndexes: true
      collectionConfig:
         blockCompressor: {{ user_mongodb_blockCompressor|default("snappy") }}
      indexConfig:
         prefixCompression: true

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

net:
   port: 27017
   maxIncomingConnections: {{ user_mongodb_maxIncomingConnections|default(200) }}
   compression:
      compressors: {{ user_mongodb_netCompressors|default("snappy") }}
   serviceExecutor: {{ user_mongodb_serviceExecutor|default("synchronous") }}


setParameter:

   connPoolMaxConnsPerHost: {{ user_mongodb_connPoolMaxConnsPerHost|default(200) }}
   connPoolMaxInUseConnsPerHost: {{ user_mongodb_connPoolMaxInUseConnsPerHost|default(200) }}
   globalConnPoolIdleTimeoutMinutes: 10
   maxNumActiveUserIndexBuilds: {{ user_mongodb_maxNumActiveUserIndexBuilds|default(3) }}
   maxIndexBuildMemoryUsageMegabytes: {{ user_mongodb_maxIndexBuildMemoryUsageMegabytes|default(200) }}
   tcmallocReleaseRate: {{ user_mongodb_tcmallocReleaseRate|default(1.0) }}
   diagnosticDataCollectionPeriodMillis: {{ user_mongodb_diagnosticDataCollectionPeriodMillis|default(1000) }}
   maxSessions: {{ user_mongodb_maxSessions|default(1000000) }}
   TransactionRecordMinimumLifetimeMinutes: {{ user_mongodb_TransactionRecordMinimumLifetimeMinutes|default(5) }}
   enableFlowControl: true
   flowControlTargetLagSeconds: {{ user_mongodb_flowControlTargetLagSeconds|default(10) }}
   flowControlWarnThresholdSeconds: 10
   initialSyncTransientErrorRetryPeriodSeconds: 86400
   oplogFetcherUsesExhaust: true

   oplogInitialFindMaxSeconds: {{ user_mongodb_oplogInitialFindMaxSeconds|default(60) }}
   replWriterThreadCount: {{ user_mongodb_replWriterThreadCount|default(16) }}
   replWriterMinThreadCount: 0
   wiredTigerConcurrentReadTransactions: {{ user_mongodb_wiredTigerConcurrentReadTransactions|default(128) }}
   wiredTigerConcurrentWriteTransactions: {{ user_mongodb_wiredTigerConcurrentWriteTransactions|default(128) }}
   maxTransactionLockRequestTimeoutMillis: {{ user_mongodb_maxTransactionLockRequestTimeoutMillis|default(10) }}






