storage:
   journal:
      enabled: true
      commitIntervalMs: {{ mongodb_profile_journalCommitInterval|default(200) }}
   directoryPerDB: true
   syncPeriodSecs: {{ mongodb_profile_syncPeriodSecs|default(60) }}
   engine: wiredTiger
   wiredTiger:
      engineConfig:
         cacheSizeGB: {{ mongodb_profile_cacheSizeGB|default(2) }}
         journalCompressor: {{ mongodb_profile_journalCompressor|default("snappy") }}
         directoryForIndexes: true
      collectionConfig:
         blockCompressor: {{ mongodb_profile_blockCompressor|default("snappy") }}
      indexConfig:
         prefixCompression: true

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

net:
   port: 27017
   maxIncomingConnections: {{ mongodb_profile_maxIncomingConnections|default(200) }}
   compression:
      compressors: {{ mongodb_profile_netCompressors|default("snappy") }}
   serviceExecutor: {{ mongodb_profile_serviceExecutor|default("synchronous") }}


setParameter:

   connPoolMaxConnsPerHost: {{ mongodb_profile_connPoolMaxConnsPerHost|default(200) }}
   connPoolMaxInUseConnsPerHost: {{ mongodb_profile_connPoolMaxInUseConnsPerHost|default(200) }}
   globalConnPoolIdleTimeoutMinutes: 10
   maxNumActiveUserIndexBuilds: {{ mongodb_profile_maxNumActiveUserIndexBuilds|default(3) }}
   maxIndexBuildMemoryUsageMegabytes: {{ mongodb_profile_maxIndexBuildMemoryUsageMegabytes|default(200) }}
   tcmallocReleaseRate: {{ mongodb_profile_tcmallocReleaseRate|default(1.0) }}
   diagnosticDataCollectionPeriodMillis: {{ mongodb_profile_diagnosticDataCollectionPeriodMillis|default(1000) }}
   maxSessions: {{ mongodb_profile_maxSessions|default(1000000) }}
   TransactionRecordMinimumLifetimeMinutes: {{ mongodb_profile_TransactionRecordMinimumLifetimeMinutes|default(5) }}
   enableFlowControl: true
   flowControlTargetLagSeconds: {{ mongodb_profile_flowControlTargetLagSeconds|default(10) }}
   flowControlWarnThresholdSeconds: 10
   initialSyncTransientErrorRetryPeriodSeconds: 86400
   oplogFetcherUsesExhaust: true

   oplogInitialFindMaxSeconds: {{ mongodb_profile_oplogInitialFindMaxSeconds|default(60) }}
   replWriterThreadCount: {{ mongodb_profile_replWriterThreadCount|default(16) }}
   replWriterMinThreadCount: 0
   wiredTigerConcurrentReadTransactions: {{ mongodb_profile_wiredTigerConcurrentReadTransactions|default(128) }}
   wiredTigerConcurrentWriteTransactions: {{ mongodb_profile_wiredTigerConcurrentWriteTransactions|default(128) }}
   maxTransactionLockRequestTimeoutMillis: {{ mongodb_profile_maxTransactionLockRequestTimeoutMillis|default(10) }}






