version: "3.8"
services:
  kibana:
    image: kibana:7.17.18
    container_name: kibana
    deploy:
      restart_policy:
        condition: any
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ deploy_host|default('aituningnode1') }}
      resources:
        limits:
          cpus: "0.5"
          memory: 1G
    ports:
      - target: 5601
        published: 5601
        protocol: tcp
        mode: host
    volumes:
     - ~/tuning_microservice/.tmp/.{{ benchmark }}_tmp/kibana.yml:/usr/share/kibana/config/kibana.yml