{#user       www www;  ## Default: nobody#}
worker_processes  {{ nginx_worker_processes|default(1) }};  ## Default: 1
{#error_log  logs/error.log;#}
{#pid        logs/nginx.pid;#}
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile|default(65535) }};
thread_pool thread1 threads={{ nginx_threads|default(32) }} max_queue={{ nginx_max_queue|default(65536) }};



events {
    accept_mutex on;

    accept_mutex_delay {{ nginx_accept_mutex_delay|default(500) }}ms;

    multi_accept on;

    worker_connections  {{ nginx_worker_connections|default(1024) }};
}

http {
{#  include    /etc/nginx/mime.types;#}
{#  include    /etc/nginx/proxy.conf;#}
{#  include    /etc/nginx/fastcgi.conf;#}
{#  index    index.html index.htm index.php;#}
  sendfile {{ nginx_sendfile|default('on') }};
  tcp_nopush {{ nginx_tcp_nopush|default('on') }};
  tcp_nodelay {{ nginx_tcp_nodelay|default('on') }};

  keepalive_timeout {{ nginx_keepalive_timeout|default(70) }};
  aio threads=thread1;
  gzip  on;
  server { # simple load balancing
    listen 80;
{#    server_name     big.server.com;#}
{#    access_log      logs/big.server.access.log main;#}

    location /stub_status {
        stub_status on;
    }

{#    location /api {#}
{#        api write=on;#}
{#    }#}

{#    location / {#}
{#      proxy_pass      http://big_server_com;#}
{#    }#}
  }
}

