[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]

back_log = {{ mysql_back_log|default(512) }}

key_buffer_size = {{ mysql_key_buffer_size|default(64) }}M

max_connections = {{ mysql_max_connections|default(1500) }}

innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size|default(128) }}M

max_connect_errors = {{ mysql_max_connect_errors|default(6000) }}

open_files_limit = {{ mysql_open_files_limit|default(65535) }}

table_open_cache = {{ mysql_table_open_cache|default(128) }}

max_allowed_packet = {{ mysql_max_allowed_packet|default(4) }}M

binlog_cache_size = {{ mysql_binlog_cache_size|default(1) }}M

max_heap_table_size = {{ mysql_max_heap_table_size|default(8) }}M

tmp_table_size = {{ mysql_tmp_table_size|default(16) }}M

read_buffer_size = {{ mysql_read_buffer_size|default(2) }}M

read_rnd_buffer_size = {{ mysql_read_rnd_buffer_size|default(8) }}M

sort_buffer_size = {{ mysql_sort_buffer_size|default(8) }}M

join_buffer_size = {{ mysql_join_buffer_size|default(8) }}M

thread_cache_size = {{ mysql_thread_cache_size|default(8) }}


ft_min_word_len = {{ mysql_ft_min_word_len|default(4) }}

transaction_isolation = {{ mysql_transaction_isolation|default("REPEATABLE-READ") }}

default-storage-engine = InnoDB

innodb_file_per_table = 1

innodb_open_files = {{ mysql_innodb_open_files|default(500) }}

innodb_write_io_threads = {{ mysql_innodb_write_io_threads|default(4) }}
innodb_read_io_threads = {{ mysql_innodb_read_io_threads|default(4) }}

innodb_thread_concurrency = 0

innodb_purge_threads = 1

innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit|default(2) }}

innodb_log_buffer_size = {{ mysql_innodb_log_buffer_size|default(4) }}M

innodb_log_file_size = {{ mysql_innodb_log_file_size|default(32) }}M

innodb_log_files_in_group = {{ mysql_innodb_log_files_in_group|default(3) }}

innodb_max_dirty_pages_pct = 90

innodb_lock_wait_timeout = {{ mysql_innodb_lock_wait_timeout|default(120) }}

interactive_timeout = 28800

wait_timeout = 28800